@media screen {
    .print-format-gutter {
        padding: 15px 0px;
    }

    .print-format {
        border-radius: 10px;
        background-color: white;
        box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.5);
        max-width: 8.3in;
        padding: 3rem;
        margin: auto;
        border: 1px solid #d2d2d2;
    }

    .print-format.landscape {
        max-width: 11.69in;
        padding: 0.2in;
    }

    .page-break {
        padding: 30px 0px;
        border-bottom: 1px dashed #888;
    }

    .page-break:first-child {
        padding-top: 0px;
    }

    .page-break:last-child {
        border-bottom: 0px;
    }

    /* mozilla hack for images in table */
    body:last-child .print-format td img {
        width: 100% !important;
    }

    @media(max-width: 767px) {
        .print-format {
            padding: 0.2in;
        }
    }
}

@media print {
    .print-format p {
        margin-left: 1px;
        margin-right: 1px;
    }
}

.data-field {
    margin-top: 5px;
    margin-bottom: 5px;
}

.data-field .value {
    word-wrap: break-word;
}

.important .value {
    font-size: 120%;
    font-weight: bold;
}

.important label {
    line-height: 1.8;
    margin: 0px;
}

.table {
    margin: 20px 0px;
}

.square-image {
    width: 100%;
    height: 0;
    padding: 50% 0;
    background-size: contain;
    background-repeat: no-repeat !important;
    background-position: center center;
    border-radius: 4px;
}

.print-item-image {
    object-fit: contain;
}

.pdf-variables,
.pdf-variable,
.visible-pdf {
    display: none !important;
}

.print-format {
    font-size: 9pt;
    font-family: "Helvetica Neue", Helvetica, Arial, "Open Sans", sans-serif;
    -webkit-print-color-adjust: exact;
}

.page-break {
    page-break-after: always;
}

.print-heading {
    border-bottom: 1px solid #aaa;
    margin-bottom: 10px;
}

.print-heading h2 {
    margin: 0px;
}

.print-heading h4 {
    margin-top: 5px;
}

table.no-border,
table.no-border td {
    border: 0px;
}

.print-format label {
    /* wkhtmltopdf breaks label into multiple lines when it is inline-block */
    display: block;
}

.print-format img {
    max-width: 100%;
}

.print-format table td>.primary:first-child {
    font-weight: bold;
}

.print-format td,
.print-format th {
    vertical-align: top !important;
    padding: 6px !important;
}

.print-format p {
    margin: 3px 0px 3px;
}

table td div {

    /* needed to avoid partial cutting of text between page break in wkhtmltopdf */
    page-break-inside: avoid !important;

}

/* hack for webkit specific browser */
@media (-webkit-min-device-pixel-ratio:0) {

    thead,
    tfoot {
        display: table-header-group;
    }
}

[document-status] {
    margin-bottom: 5mm;
}

.signature-img {
    background: #fff;
    border-radius: 3px;
    margin-top: 5px;
    max-height: 150px;
}

.print-heading {
    text-align: right;
    text-transform: uppercase;
    color: #666;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #d1d8dd;
}

.print-heading h2 {
    font-size: 24px;
}

.print-format th {
    background-color: #eee !important;
    border-bottom: 0px !important;
}

.third-party-sign,
.company.box {
    margin-top: 15px;
}

#signature {
    border: 1px solid #ececec;
    position: relative;
}

#signature .refresh-signature {
    position: absolute;
    bottom: 3px;
    right: 5px;
    color: #000;
    background-color: #ececec;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 12px;
}

#signeeName input::placeholder,
#signeeDetails input::placeholder {
    color: #cfcfcf;
}

#signeeDetails div.company-individual label {
    display: block;
}

#signeeDetails p {
    margin-bottom: 0;
}

#signeeDetails div input[type="radio"] {
    margin-right: 5px;
    vertical-align: middle;
}

#signeeDetails div input[type='radio']:checked:after {
    background-color: rgb(120, 184, 152);
}

#signeeDetails div.party-type-company {
    display: none;
}

.btn {
    border-radius: 20px;
}

.actions {
    display: flex;
    justify-content: center;
    padding: 0 0 0 0;
}

.actions .btn-primary {
    margin-bottom: 20px;
}

.actions .btn-danger {
    align-self: flex-end;
    background-color: #847f7f;
}

.actions .btn-danger:hover {
    background-color: #989191;
}

.actions a {
    padding: 10px 35px;
}

.actions li {
    display: inline-flex;
    padding: 0 18px 0 0;
}

.actions li:last-child {
    padding: 0;
}

#signee,
#signee-designation {
    border-radius: 3px;
    border: 1px solid #ececec;
    width: 100%;
}

.title {
    color: #8e8e8e;
    font-size: 24px;
}

a#rejectDocument {
    align-self: end;
    color: indianred;
}

a#rejectDocument.btn-outline-danger:hover {
    color: #fff;
}

.signed-doc-actions {
    display: none;
}

ul.actions li a.approveBtn {
    padding: 10px 29px;
    color: rgb(120, 184, 152);
    align-self: baseline;
    border-color: gray;
    text-align: center;
    border-color: rgb(120, 184, 152);
}

.user-signature ul.actions li a.approveBtn:hover {
    color: #fff;
    background-color: #57b4aa;
    border-color: #57b4aa;
    -webkit-box-shadow: 0 1px 10px rgba(80,161,255,.4);
    box-shadow: 0 1px 10px rgba(80,161,255,.4);
}

#signeeName {
    text-align: center;
    margin-bottom: 15px;
}