body[data-route="bloomstack_desk"] {
  background: url('assets/bloomstack_core/images/desk.png') no-repeat center center fixed;
  background-size: cover;
  font-family: sans-serif;
}

body[data-route="bloomstack_desk"] .page-head {
  display: none;
}

body[data-route="bloomstack_desk"] .layout-main-section-wrapper {
  margin: 0;
}

body[data-route="bloomstack_desk"] .layout-main-section {
  border: 0;
}

body[data-route="bloomstack_desk"] .row {
  margin: 0;
}

.wrapper.bloomdesk_wrapper {
  max-width: 1200px;
}

.bloomdesk_wrapper .subsets {
  display: inline-block;
  vertical-align: top;
}

.bloomdesk_wrapper .cards {
  width: 65px;
  margin: 30px;
  margin-left: 0;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
}

.bloomdesk_wrapper .cards img {
  width: 100%;
}

.bloomdesk_wrapper .cards span {
  margin: 5px auto 0;
  display: block;
  color: #fff;
  font-size: 14px;
}

.bloomdesk_wrapper .favourites {
  background: rgba(128, 128, 128,0.4);
  border-radius: 50px;
  padding: 20px;
  display: none;
}

.bloomdesk_wrapper .favourites i {
  display: inline-block;
  background-color: #f58767;
  width: 100%;
  font-size: 25px;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
}

.bloomdesk_wrapper .view_more {
  text-align: center;
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
  .bloomdesk_wrapper .cards {
    width: 50px;
  }
  .bloomdesk_wrapper .favourites i {
    padding: 14px 20px;
  }
}

@media screen and (max-width: 992px) {
  .bloomdesk_wrapper.wrapper {
    max-width: 500px;
    margin: 0 auto
  }
}

@media screen and (max-width: 500px) {
  .bloomdesk_wrapper .cards {
    width: 50px;
  }
  .bloomdesk_wrapper .favourites {
    padding: 20px 20px;
  }
  .bloomdesk_wrapper .favourites i {
    padding: 14px 20px;
  }
}