#page-issues table thead {
    background-color: #4f5261;
    color: #fff;
    font-family: "Lato", sans-serif;
    font-size: 15px;
}

#page-issues table tbody {
    font-family: "Lato",sans-serif;
    font-size: 14px;
}

#page-issues table .regular-checkbox {
    padding: 7px;
    border: 1px solid #8d99a6;
    border-radius: 3px;
    display: inline-block;
    position: relative;
	-webkit-appearance: none;
    background-color: #fafafa;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
}

#page-issues table .regular-checkbox:active, 
#page-issues table .regular-checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

#page-issues table .regular-checkbox:checked:after {
	content: '\2714';
    position: absolute;
    top: 0px;
    left: 3px;
    color: #57b4aa;
    font-size: 10px;
    font-weight: bolder;
}

#page-issues .page-header h2 {
    margin-bottom: 0;
    font-size: 20px;
}

#page-issues .web-form-actions button,
#page-issues .web-form-footer button {
    padding: 5px 25px;
    font-size: 15px;
}

#page-issues .web-form-wrapper div[data-fieldname = "status"],
#page-issues .web-form-wrapper div[data-fieldname = "priority"] {
    width: 30%;
    margin-right: 50px;
    display: inline-block;
}

#page-issues .web-form-wrapper div[data-fieldname = "status"] .control-value.like-disabled-input {
    max-width: 250px;
    padding: 6px 10px;
    border: 1px solid #000;
    border-radius: 0.25rem;
}

#page-issues .web-form-wrapper div[data-fieldname = "priority"] .input-with-feedback.form-control.bold {
    max-width: 250px;
    padding: 10px;
    border: 1px solid #000;
}

#page-issues .form-control:focus {
    box-shadow: none;
}

#page-issues #awesomplete_list_1 {
    max-width: 400px;
    width:400px;
    min-width: 0!important;
}

#page-issues .web-form-wrapper div[data-fieldname = "attachment"] .control-input-wrapper button.btn-attach,
#page-issues .comment-form-wrapper a.add-comment {
    width: 30%;
    padding: 10px;
    border-radius: 0.25rem;
    background: #8e8e8e;
    color: #fff;
    text-transform: uppercase;
}

