.license-card {
  border: 1px solid #000;
  margin-bottom: 30px;
  padding: 30px 0;
}

.license-filter .col-md-1 {
  padding-right: 0;
}

.license-filter input[type="submit"] {
  margin-bottom: 30px;
  background: #fff;
  border: 1px solid #000;
  padding: 6px 0;
  width: 100%;
}

.map {
  text-align: center;
  margin-bottom: 20px;
}

.map img {
  max-width: 50%;
}

.map a:hover {
  text-decoration: none;
}

.map span {
  display: block;
  text-align: center;
}

.actions .conversion-actions {
  display: inline-block;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 0 10px;
  width: 180px;
  text-decoration: none;
  text-align: center;
  transition: 0.2s all;
}

.actions .conversion-actions:hover {
  background-color: #000;
  color: #fff;
}

.license-card.row {
  cursor: pointer;
}

.license-card.row .actions {
  display: none;
}

.license-card.row.is-open .actions {
  display: block;
  clear: both;
  margin-left: 60px;
}

ul.paginate {
  padding-left: 0;
  text-align: center;
}

.paginate li {
  display: inline-block;
  border: 1px solid #000;
  padding: 10px 15px;
  margin-right: 5px;
}

.license-filter {
  margin-top: 30px;
}

.license-filter .search-box {
  padding-left: 0;
}

.license-filter .search-box input,
.license-filter .zip-box input,
.license-filter .type-select select {
  width: 100%;
  outline: 0;
}

.license-filter .search-box input,
.license-filter .zip-box input {
  background: url('/assets/bloomstack_core/images/search.png') no-repeat;
  background-position: center right;
  padding: 5px 8px;
}

.license-filter .search-box input {
  background-size: 3%;
}

.license-filter .zip-box input {
  background-size: 11%;
}

.license-filter .type-select select {
  padding: 7px 0;
}

.license-card .license-info p {
  margin: 30px 0;
}

.license-info .col-md-4:first-child {
  padding-left: 0;
}

@media screen and (max-width: 992px) {
  .license-filter .search-box,
  .license-filter .zip-box {
    padding-left: 15px;
  }
  .license-filter .search-box {
    margin-bottom: 30px;
  }
  .license-filter .col-md-1 {
    padding-right: 15px;
  }
  .license-list .row.license-card {
    margin: 0 0px 30px;
  }
  .license-card .license-info p {
    margin: 0 0 10px;
  }
  .license-info .license-number {
    text-align: right;
  }
  .license-info .license-type {
    padding-left: 0;
    margin: 5px 0;
  }
  .license-card.row.is-open .actions {
    margin-left: 10px;
  }
}

@media screen and (max-width: 767px) {
  .license-card.row.is-open .actions {
    text-align: center;
    margin-left: 0;
  }
  .license-card.row.is-open .actions p {
    display: inline-block;
    margin-right: 10px;
  }
  .license-card.row.is-open .actions p:last-child {
    margin-right: 0;
  }
}