.login-content.page-card {
    max-width: 360px;
    padding: 15px;
    margin: 30px auto 0;
    border: 0;
    border-radius: 0;
    background-color: #fff;
    box-shadow: none;
}

.login-content.page-card .page-card-head {
    text-align: center;
    border-bottom: 0;
}

.login-content.page-card .form-signin .form-control {
    padding: 10px 15px;
    font-size: 14px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.login-content.page-card .toggle-password {
   top:12px;
}

.login-content.page-card .btn {
    margin-top: 10px;
    padding: 10px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    background-color: #57b4aa;
}

.login-content.page-card .btn:hover {
    background-color: #57b4aa;
}

.page_content .form-footer {
    max-width: 350px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 0;
}

.page_content .form-footer a {
    font-size: 16px;
    display: inline-block;
    padding: 10px;
    border: 1px solid #57b4aa;
    color: #57b4aa;
    border-radius: 25px;
    font-weight: normal;
    width: 100%;
    text-decoration: none;
    margin: 0;
}

.page_content .form-footer h6 {
    font-size: 16px;
    text-transform: uppercase;
}

.page_content .form-footer .social-logins .fa {
    color: #57b4aa;
}

.page_content .form-footer a:hover {
    background-color: initial;
}