.price-info {
  margin: 10px 0;
  display: block;
  position: static;
  text-align: center;
  background-color: #4f5261;
}

body[data-route="order-desk"] .list-item.list-item--head {
  background-color: #4f5261;
}

body[data-route="order-desk"] .list-item.list-item--head .text-muted {
  color: #fff!important;
  flex: 1.5;
}

body[data-route="order-desk"] .quantity.list-item__content.text-right span button {
  background-color: #4f5261;
  color: #fff;
}

body[data-route="order-desk"] .list-item.list-item--head .text-muted.actions {
  flex: 1;
}

body[data-route="order-desk"] .list-item__content.rate {
  margin-right: 0;
  min-width: 65px;
}