body[data-route="order-desk"] .price-info {
  margin: 10px 0;
  display: block;
  position: static;
  text-align: center;
  background-color: #4f5261;
}

body[data-route="order-desk"] .cart-wrapper table:not(.cart-items) {
  width: 100%;
  border: 1px solid #d1d8dd;
  border-radius: 3px;
  margin: 10px 0 20px;
  table-layout: fixed;
  min-width: 500px;
}

body[data-route="order-desk"] .cart-wrapper table.cart-items {
  height: 200px;
  table-layout: fixed;
  margin: 0;
  position: relative;
}

body[data-route="order-desk"] .cart-wrapper table.cart-items tbody tr {
  height: 0;
}

body[data-route="order-desk"] .cart-wrapper table.cart-items tbody tr td {
  padding: 10px 10px;
}

body[data-route="order-desk"] .cart-wrapper {
  border: 0;
}

body[data-route="order-desk"] .cart-wrapper table tbody div.selected-items {
  max-height: 150px;
  overflow-y: scroll;
}

body[data-route="order-desk"] .empty-state span {
  top: 55%;
  left: 45%;
}

body[data-route="order-desk"] .table > tbody > tr > td {
  border-top: 0;
  padding: 0;
}

body[data-route="order-desk"] .cart-wrapper thead tr.table-head {
  background-color: #4f5261;
  color: #fff;
}

body[data-route="order-desk"] .cart-wrapper tr.table-head th {
  padding: 10px 0;
  border: 0;
  text-align: center;
}

body[data-route="order-desk"] .cart-items .empty-state {
  height: auto;
}

body[data-route="order-desk"] .cart-wrapper tr.grand-total {
  font-size: 18px;
}

body[data-route="order-desk"] .cart-wrapper tr.table-head th:first-child {
  padding-left: 10px;
  text-align: left;
}

body[data-route="order-desk"] .middle {
  vertical-align: middle !important;
}

body[data-route="order-desk"] .quantity span button,
body[data-route="order-desk"] .rate span button {
  background-color: #4f5261;
  color: #fff;
}

body[data-route="order-desk"] .order-primary {
  background-color: #5E64FF;
  color: #ffffff;
  width: 100%;
  border: 0;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
  margin-left: 15px;
  border-radius: 3px;
}

body[data-route="order-desk"] .pos section.cart-container {
  width: 49%;
}

body[data-route="order-desk"] .pos section.item-container {
  width: 50%;
}

body[data-route="order-desk"] .pos .image-view-container .image-view-item {
  flex: 0 0 33%;
  width: 33%;
  max-width: 33%;
}

body[data-route="order-desk"] .pos section.cart-container .frappe-control {
  margin-bottom: 5px;
  width: 49%;
  display: inline-block;
  margin-right: 10px;
}

body[data-route="order-desk"] .pos section.cart-container .frappe-control:first-child {
  width: 100%;
}

body[data-route="order-desk"] .pos section.cart-container .frappe-control:last-child,
body[data-route="order-desk"] .pos section.cart-container .frappe-control:nth-child(3) {
  margin-right: 0;
}

body[data-route="order-desk"] .pos section.item-container .pos-item-wrapper.image-view-item .image-view-header a.grey.list-id {
  display: inline-block;
}

body[data-route="order-desk"] .pos section.item-container .pos-item-wrapper.image-view-item .image-field {
  height: 200px;
}

body[data-route="order-desk"] .pos section.cart-container .item-name.ellipsis {
  margin-bottom: 8px;
}

body[data-route="order-desk"] .pos .cart-wrapper .action.action_button {
  justify-content: flex-end;
  max-width: 25px;
}

/* Responsive */

@media screen and (max-width: 1199px) and (min-width: 992px) {
  body[data-route="order-desk"] .pos section.cart-container .frappe-control {
    width: 48.7%;
  }
}

@media screen and (max-width: 992px) {
  body[data-route="order-desk"] .pos section.cart-container,
  body[data-route="order-desk"] .pos section.item-container {
    width: 100%;
  }

  body[data-route="order-desk"] .pos section.item-container {
    margin-top: 30px;
  }

  body[data-route="order-desk"] .empty-state span {
    top: 25%;
    left: 50%;
  }
}

@media screen and (max-width: 560px) {
  body[data-route="order-desk"] .pos section.cart-container .frappe-control {
    width: 48.5%;
  }
}

@media screen and (max-width: 500px) {
  body[data-route="order-desk"] .pos .image-view-container .image-view-item {
    flex: 0 0 50%;
    width: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 395px) {
  body[data-route="order-desk"] .pos section.cart-container .frappe-control {
    width: 48%;
  }
}