.page-header h1 {
  font: 32px/43px 'futura-pt', sans-serif;
  letter-spacing: 3.2px;
  color: #000000E8;
  text-transform: uppercase;
}

.products-list .card:nth-child(2n+1) {
  margin-right: 0;
}

.products-list .info {
  font: 10px/21px 'futura-pt', sans-serif;
  letter-spacing: 0.8px;
  color: #FFFFFFE8;
}

.products-list .info p {
  margin-bottom: 5px;
  background: #F05E23;
  border-radius: 35px;
  width: 76px;
  height: 20px;
  text-align: center;
}

.products-list .info-image {
  text-align: center;
  min-height: 140px;
}

.products-list img {
  width: 50%;
}

.products-list img:after {
  display: none;
}

.products-list .card-body {
  text-align: center;
}

.products-list .card-body h5 a {
  font: 14px/19px 'futura-pt', sans-serif;
  letter-spacing: 1.4px;
  color: #000000;
}

.products-list .card-body .item-price {
  font: 16px/21px 'futura-pt', sans-serif;
  font-weight: bold;
  letter-spacing: 1.6px;
  color: #000000;
}

.products-list a.btn.btn-light {
  background-color: #757575;
  color: #fff;
}

.products-list a.btn.btn-light:hover {
  background-color: #e2e8ee;
  color: #757575;
}

.products-list .website-image[src*="no-image.jpg"] {
  padding: 0;
}

.products-list h5.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  vertical-align: middle;
  margin-bottom: 5px;
}

.filter-options {
  width: 100%;
}

