div[data-doctype="Web Form"] table thead {
  background-color: #4f5261 !important;
  color: #fff !important;
  font-family: "Lato", sans-serif;
  font-size: 15px;
}

div[data-doctype="Web Form"] table tbody {
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

div[data-doctype="Web Form"] table tr input[type="checkbox"] {
  padding: 7px;
  border: 1px solid #8d99a6;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  -webkit-appearance: none;
  background-color: #fafafa;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
}

div[data-doctype="Web Form"] table tr input[type="checkbox"]:active,
div[data-doctype="Web Form"] table tr input[type="checkbox"]:checked:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

div[data-doctype="Web Form"] table tr input[type="checkbox"]:checked:after {
  content: "\2714";
  position: absolute;
  top: 0px;
  left: 3px;
  color: #57b4aa;
  font-size: 10px;
  font-weight: bolder;
}

.page-header h2 {
  margin-bottom: 0;
  font-size: 20px;
}

.web-form-actions button,
.web-form-footer button {
  padding: 5px 25px;
  font-size: 15px;
}

.web-form-actions button.btn-secondary {
	color: #fff;
}

.web-form-wrapper div[data-fieldname="status"],
.web-form-wrapper div[data-fieldname="priority"] {
  width: 30%;
  margin-right: 50px;
  display: inline-block;
}

.web-form-wrapper .control-value.like-disabled-input {
  padding: 6px 10px;
  border: 1px solid #ebebe4;
  border-radius: 0.25rem;
  background-color: #ebebe4;
}

.web-form-wrapper div[data-fieldname="priority"] .input-with-feedback.form-control.bold {
  max-width: 250px;
  padding: 10px;
  border: 1px solid #000;
}

.form-control:focus {
  box-shadow: none;
}

#awesomplete_list_1 {
  max-width: 400px;
  width: 400px;
  min-width: 0 !important;
}

.web-form-wrapper div[data-fieldname="attachment"] .control-input-wrapper button.btn-attach,
.comment-form-wrapper a.add-comment {
  width: 30%;
  padding: 10px;
  border-radius: 0.25rem;
  background: #8e8e8e;
  color: #fff;
  text-transform: uppercase;
}
