{% extends "templates/web.html" %}

{% block style %}
<style>
	{% include "templates/includes/login/login.css" %}
</style>
{% endblock %}

{% block page_content %}
<!-- {{ for_test }} -->
<div style='min-height: 360px'>
<section class='for-login'>
	<div class="login-content page-card" style="margin-top: 30px;">
		<form class="form-signin form-login" role="form">
			<div class="page-card-head">
				<span class="indicator blue" data-text="{{ _('Administrator Login') }}"></span>
			</div>

			<input type="hidden" id="login_email"
				class="form-control"
				value="Administrator"
			>

			<div class="password-field" style="position: relative;">
				<input type="password" id="login_password"
						class="form-control" placeholder="{{ _('Password') }}" required>

				<span toggle="#login_password" class="fa fa-fw fa-eye toggle-password text-muted"></span>
			</div>

			<button class="btn btn-sm btn-primary btn-block btn-login" type="submit">
				{{ _("Login") }}</button>
		</form>
	</div>
</section>
</div>
{% endblock %}

{% block script %}
	<script>{% include "templates/includes/login/login.js" %}</script>
{% endblock %}

{% block sidebar %}{% endblock %}
