{% extends "templates/web.html" %}
{% block title %} Authorize Document {% endblock %}

{% block page_content %}
{% if error %}
{{ error }}
{% else %}
<div class="row">

    <div class="col-lg-8">
       {{ print_doc }}
    </div>

    <div class="col-lg-4 user-signature">
        Your Name: <input type="text" id="signee" value="" data-signee="{{ signee }}" required/> </br></br></br>
        Signature:
        <div id="signature"></div> <br><br></br>
        <a class="btn btn-primary" id="approveDocument">Approve</a>  &emsp;&emsp;&emsp;
        <a class="btn btn-primary" id="rejectDocument">Reject</a>
    </div>

</div>
{% endif %}
{% endblock %}

{% block script %}
<script type="text/javascript" src="/assets/frappe/js/lib/jSignature.min.js"></script>
<script>{% include "templates/includes/sign_document.js" %}</script>
{% endblock %}