{% extends "templates/web.html" %}
{% block title %} Authorize Document {% endblock %}
{% block style %}
<link type="text/css" rel="stylesheet" href="/assets/bloomstack_core/css/authorize_document.css">
{% endblock %}
{% block page_content %}
{% if error %}
{{ error }}
{% else %}

<div class="row">
	<div class="col-lg-7">
		<h3 class="title">{{company}} has requested you to authorize a {{doc.doctype}}</h3> <br>
	</div>
</div>

<div class="row">
	<div class="col-lg-7 contract">
		{{ print_doc }}
	</div>
	<div class="col-lg-1">

	</div>

	<div class="col-lg-4 ">


		<div class="user-signature">
		</br>
			Your Name: </br></br></br>
			<div id="signeeName"><input type="text" id="signee" value="" required /></div> </br></br>
			Signature:<br><br>
			<div id="signature"></div> <br><br>
			<ul class="actions">
				<li><a class="btn btn-outline-danger" href="#" id="rejectDocument"><span class="glyphicon glyphicon-remove"></span> Reject</a></li>
				<li><a class="btn printBtn" href="{{ print_url }}" target="_blank" rel="noopener noreferrer" id="printBtn"><span class="glyphicon glyphicon-print"></span> Print</a></li>
				<li><a class="btn btn-primary" id="approveDocument"><span class="glyphicon glyphicon-ok"></span> Approve</a></li>
			</ul>
		</div>

	</div>
	{% endif %}
	{% endblock %}

	{% block script %}
	<script type="text/javascript" src="/assets/frappe/js/lib/jSignature.min.js"></script>
	<script>{% include "templates/includes/sign_document.js" %}</script>
	{% endblock %}