<div id="track-and-trace">
    <div>
        <div class="container" id="search-bar">
            <div class="list-item">
                <div class="list-item__content search-inputs">
                    <input type="text"
                        class="form-control search-input"
                        placeholder="Search..."
                    >
                </div>
                <div class="collapse-fields">
                    <button class="btn btn-default">Toggle Fields</button>
                </div>
                <div class="paginator-top"></div>
            </div>
        </div>
    </div>
    <div class="intro">
        <p>Welcome to the Bloomstack Track & Trace report. Please type in a serial number or a batch number in the box above to get started.</p>
        <p>This report helps your track the exact chain of movement associated with any serial number or batch of marijuana. All products used to manufacture (and manufactured from) the above item will be displayed here.</p>
    </div>
    <ul class="results"></ul>
</div>