<li class="node{% if ( children.length > 0 ) { %} has-children{% } %}{% if ( is_first ) { %} is-first{% } %}{% if ( is_last ){ %} is-last{% } %}" data-dt="{%= dt %}" data-dn="{%= dn %}">
    <div class="node-padding"><span></span><span></span></div>
    <div class="item">
        <div class="leaf">
            <div class="branch"><!--
            --><div class="node-handle"><!--
                    -->{% if ( children.length > 0 ) { %}<!--
                    --><i class="fa fa-minus-square-o if-open" aria-hidden="true"></i><!--
                    --><i class="fa fa-plus-square-o if-closed" aria-hidden="true"></i><!--
                    -->{% } %}<!--
            --></div><!--
            --></div>
            <div class="content">
                <h2 class="node-handle">
                    <i class="{%= icon %}"></i>
                    <span class="title">{%= title %}</span>

                    <span class="actions">
                        <span class="field-collapse"><!--
                        --><i class="fa fa-chevron-down if-open" title="Hide fields. Use (ctrl+click) to toggle child nodes." aria-hidden="true"></i><!--
                        --><i class="fa fa-chevron-left if-closed" title="Show fields. Use (ctrl+click) to toggle child nodes." aria-hidden="true"></i><!--
                        --></span>
                    </span>
                </h2>
                <div class="details">
                    {% if ( image_path ) { %}
                    <img src="{%= image_path %}" />
                    {% } %}
                    <ul class="fields">
                        {% for(let i in fields) { %}
                            {% if ( data[fields[i].field] !== undefined && data[fields[i].field] !== null && data[fields[i].field] !== "" ) { %}
                                <li><span class="field">{%= fields[i].label %}:</span> <span class="value">{%= format(data[fields[i].field], fields[i].fieldtype) %}</span></li>
                            {% } %}
                        {% } %}
                    </ul>
                </div>
            </div>
        </div>
        <ul class="children"></ul>
    </div>
</li>