{% if ( total_pages > 1 ) { %}
<ul class="paginator">
    {% if ( current_page > 0 ) { %}
    <li><button class="first btn btn-default"><i class="fa fa-angle-double-left"></i></button></li>
    <li><button class="prev btn btn-default"><i class="fa fa-angle-left"></i></button></li>
    {% } %}
    <li class="list-item pagination-target">
        Page: 
        <div class="list-item__content">
            <input type="text"
                class="form-control current-page"
                placeholder="Search..."
                value="{%= current_page + 1 %}"
            >
        </div>
    </li>
    <li class="sep">of</li>
    <li class="total-pages">{%= total_pages %}</li>
    {% if ( current_page < total_pages - 1 ) { %}
    <li><button class="next btn btn-default"><i class="fa fa-angle-right"></i></button></li>
    <li><button class="last btn btn-default"><i class="fa fa-angle-double-right"></i></button></li>
    {% } %}
</ul>
{% } %}