<div id="track-and-trace">
    <div>
        <div class="container" id="search-bar">
            <div class="list-item">
                <div class="list-item__content search-inputs">
                    <input type="text"
                        class="form-control search-input"
                        placeholder="Search..."
                    >
                </div>
                <div class="collapse-fields">
                    <button class="btn btn-default">Toggle Fields</button>
                </div>
                <div class="paginator-top"></div>
            </div>
        </div>
    </div>
    <ul class="results"></ul>
</div>